<div class="content-card">
    <h1>Content List</h1>
    <div class="content-list">
      <div *ngFor="let contentItem of contentList.content; let i = index">  
        <div [innerHTML]="contentList.getContentHtml(i)"></div>
      </div>
    </div>
  </div>

  <!-- <mat-card>
    <mat-card-header>
      <mat-card-title>{{ content.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ content.description }}</p>
      <p>Content Type: {{ content.contentType }}</p>
    </mat-card-content>
  </mat-card> -->