<!-- <div class="content-detail">
    <h2>{{ content.title }}</h2>
    <p>{{ content.description }}</p>
    
    <a routerLink="/list">Back to Content List</a>
  </div> -->

  <a routerLink="/list">Back to Content List</a>

 
   <div class="topContent" *ngIf="singleContentItem">
    <div class="c-card">
        <h1 [innerHTML]="singleContentItem?.title"></h1>
        <p [innerHTML]="singleContentItem?.description"></p>
        <p [innerHTML]="singleContentItem?.creator"></p>
        <p [innerHTML]="singleContentItem?.type" appHoverAffect [affectStyle]="'underline'"></p>
        <div>
            <span *ngFor="let tag of singleContentItem?.tags" appHoverAffect [affectStyle]="'bold'" >{{tag}}, </span>
        </div>
        <div *ngIf="singleContentItem?.imgURL; else noImage">
            <img [src]="singleContentItem?.imgURL"  height="700px" width="100%">
        </div>
        <ng-template #noImage>
          <img src="../../assets/image/wallpaper.jpg" width="100%" height="70%">
        </ng-template>
    </div>
</div> 

<div class="topContent" *ngIf="!singleContentItem">
  <div class="c-card">
      
      <div>
         Item Not Found
      </div>
     
  </div>
</div> 