<p>content-list works!</p>
<!-- content-list.component.html -->

<app-modify-content-component (contentAdded)="handleContentAdded($event)"></app-modify-content-component>

<!-- Existing content list markup -->
...

<div>
  <label for="searchTitle">Search Title:</label>
  <input type="text" id="searchTitle" [(ngModel)]="searchTitle">
  <button (click)="searchContentItem()">Search</button>
  <p [style.color]="isContentFound ? 'green' : 'red'">{{ searchResult }}</p>
</div>

<h3>Content with no type</h3>
<div *ngFor="let contentItem of contentListArray | contentFilter : ''; let isFirst = first; even as isEven" 
     [style.border]="isFirst ? '2px solid black' : '1px solid black'"
     [style.padding]="'10px'"
     [style.margin]="'10px'"
     (click)="navigateToContentDetail(contentItem?.id)"
     [ngStyle]="{ 'color': contentItem.type === 'beach' ? 'green' : contentItem.type === 'Nature' ? 'blue' : contentItem.type === 'Mountains' ? 'pink' : contentItem.type === 'park' ? 'yellow' : 'grey' }">
  <h2 class="content-card" [ngClass]="{ 'highlighted': isContentFound && contentItem.title === searchTitle }">{{ contentItem.title }}</h2>
  <img *ngIf="contentItem.imgURL; else defaultImage" [src]="contentItem.imgURL" (click)="displayContent(contentItem)" height="700px" width="100%">
  <p>{{ contentItem.description }}</p>
  <p>{{ contentItem.creator }}</p>
  <p *ngIf="contentItem.type" appHoverAffect [affectStyle]="'underline'" >{{ contentItem.type }}</p>
  <ul *ngIf="contentItem.tags">
    <li *ngFor="let tag of contentItem.tags" class="tag" appHoverAffect [affectStyle]="'bold'">{{ tag }}</li>
  </ul>
  <ng-template #defaultImage>
    <img src="../../assets/image/wallpaper.jpg" width="100%" height="70%">
  </ng-template>
  <a [routerLink]="['/detail',contentItem.id]"
  routerLinkActive="active">
  Content Details
  </a>
</div>


<h3>Content with type beach</h3>
<div *ngFor="let contentItem of contentListArray | contentFilter : 'beach'; let isFirst = first; even as isEven" 
     [style.border]="isFirst ? '3px solid black' : '1px solid black'"
     [routerLink]="['/detail', contentItem.id]"
     [ngStyle]="{ 'color': contentItem.type === 'beach' ? 'green' : contentItem.type === 'Nature' ? 'blue' : contentItem.type === 'Mountains' ? 'white' : contentItem.type === 'park' ? 'yellow' : 'grey' }">
     <h2 class="content-card" [ngClass]="{ 'highlighted': isContentFound && contentItem.title === searchTitle }">{{ contentItem.title }}</h2>
  <img *ngIf="contentItem.imgURL; else defaultImage" [src]="contentItem.imgURL" (click)="displayContent(contentItem)" height="700px" width="100%">
  <p>{{ contentItem.description }}</p>
  <p>{{ contentItem.creator }}</p>
  <p *ngIf="contentItem.type" appHoverAffect [affectStyle]="'underline'">{{ contentItem.type }}</p>
  <ul *ngIf="contentItem.tags">
    <li *ngFor="let tag of contentItem.tags" class="tag" appHoverAffect [affectStyle]="'bold'">{{ tag }}</li>
  </ul>
  <ng-template #defaultImage>
    <img src="../../assets/image/wallpaper.jpg" width="100%" height="70%">
  </ng-template>
</div>

<h3>Content with type Nature</h3>
<div *ngFor="let contentItem of contentListArray | contentFilter : 'Nature'; let isFirst = first;"
     [style.border]="isFirst ? '2px solid black' : '1px solid black'"
     [routerLink]="['/detail', contentItem.id]"
     [ngStyle]="{ 'color': contentItem.type === 'beach' ? 'green' : contentItem.type === 'Nature' ? 'blue' : contentItem.type === 'Mountains' ? 'white' : contentItem.type === 'park' ? 'yellow' : 'grey' }">
  <h2 class="content-card" [ngClass]="{ 'highlighted': isContentFound && contentItem.title === searchTitle }">{{ contentItem.title }}</h2>
  <img *ngIf="contentItem.imgURL; else defaultImage" [src]="contentItem.imgURL" (click)="displayContent(contentItem)" height="700px" width="100%">
  <p>{{ contentItem.description }}</p>
  <p>{{ contentItem.creator }}</p>
  <p *ngIf="contentItem.type" appHoverAffect [affectStyle]="'underline'">{{ contentItem.type }}</p>
  <ul *ngIf="contentItem.tags">
    <li *ngFor="let tag of contentItem.tags" class="tag" appHoverAffect [affectStyle]="'bold'">{{ tag }}</li>
  </ul>
  <ng-template #defaultImage>
    <img src="../../assets/image/wallpaper.jpg" width="100%" height="70%">
  </ng-template>
</div>